<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//">
    <html lang="fr-FR" >
    <meta charset="UTF-8">
        <head>
           <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Style.css') }}">
        </head>
        <title>Projet Diffusion</title>
         <body></body>
            <section style="margin: 10px;">
            <fieldset style="min-height:100px;">
                <legend><b> Recherche </b> </legend>
                <form action = "http://localhost:5000/result" method = "POST">
                    <p>
                        <label for="artiste">Artiste :</label>
                        <SELECT name="artiste" size="1" >
                        <OPTION selected="selected"></OPTION>
                        {% for i in artist %}
                            {% for a in i %}
                            <OPTION>{{a}} </OPTION>
                            {% endfor %}
                        {% endfor %}
                        </SELECT>
                    </p>
                    
                    <p>
                        <label for="genre">Genre :</label>
                        <SELECT name="genre" size="1">   
                        <OPTION selected="selected"></OPTION>           
                        {% for i in gender %}
                            {% for g in i %}
                            <OPTION>{{g}} </OPTION>
                            {% endfor %}
                        {% endfor %}
                        </SELECT>                        
                    </p>

                   <p>
                        <label for="album">Sujet :</label>
                        <SELECT name="sujet" size="1">
                        <OPTION selected="selected"></OPTION>
                        {% for i in subject %}
                            {% for s in i %}
                            <OPTION>{{s}} </OPTION>
                            {% endfor %}
                        {% endfor %}
                        </SELECT>
                   </p>

                   <p>
                        <label for="album">Compositeur :</label>
                        <SELECT name="Compositeur" size="1">
                        <OPTION selected="selected"></OPTION>
                        {% for i in composer %}
                            {% for c in i %}
                            <OPTION>{{c}} </OPTION>
                            {% endfor %}
                        {% endfor %}
                        </SELECT>
                   </p>
                   <p>
                        <label for="album">Note :</label>
                        <SELECT name="rank" size="1">
                        <OPTION selected="selected"></OPTION>
                        {% for i in rating %}
                            {% for r in i %}
                            <OPTION>{{r}} </OPTION>
                            {% endfor %}
                        {% endfor %}
                        </SELECT>
                   </p>
                    <p class="button">
                        <button type="submit" class="button">Valider</button>
                    </p>
                </form>
            </fieldset>
            <fieldset style="min-height:100px;">
                <legend><b> Résultat </b> </legend>
                        {%for row in results%}
                            {%for value in row%}
                                {% set value = value.split("Musique/")[1] %}
                                 {% set value = value[:-4] %}
                                 <a href="{{value}}">{{value}}</a><br/>
                            {%endfor%}
				        {%endfor%}
            </fieldset>
            </section>
         </body>
    </html>
</DOCTYPE>

